# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore files with name 'test'
*/test.*

# Ignore .DS_Store file (a file created by finder, a specific hidden file in MacOS)
*/.DS_Store
